SoapClient/src/main/java/spring/testio/soap/endpoint/student.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://endpoint.soap.testio.spring/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://endpoint.soap.testio.spring/" name="StudentEndpointImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://endpoint.soap.testio.spring/" schemaLocation="http://192.168.1.129:9999/soap/student?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="register">
<part name="arg0" type="tns:student"></part>
</message>
<message name="registerResponse">
<part name="return" type="tns:student"></part>
</message>
<message name="RegisterException">
<part name="fault" element="tns:RegisterException"></part>
</message>
<message name="getStudentInfo">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="getStudentInfoResponse">
<part name="return" type="tns:student"></part>
</message>
<message name="NoStudentFoundEsception">
<part name="fault" element="tns:NoStudentFoundEsception"></part>
</message>
<message name="login">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="loginResponse">
<part name="return" type="tns:student"></part>
</message>
<portType name="StudentEndpoint">
<operation name="register">
<input wsam:Action="http://endpoint.soap.testio.spring/StudentEndpoint/registerRequest" message="tns:register"></input>
<output wsam:Action="http://endpoint.soap.testio.spring/StudentEndpoint/registerResponse" message="tns:registerResponse"></output>
<fault message="tns:RegisterException" name="RegisterException" wsam:Action="http://endpoint.soap.testio.spring/StudentEndpoint/register/Fault/RegisterException"></fault>
</operation>
<operation name="getStudentInfo">
<input wsam:Action="http://endpoint.soap.testio.spring/StudentEndpoint/getStudentInfoRequest" message="tns:getStudentInfo"></input>
<output wsam:Action="http://endpoint.soap.testio.spring/StudentEndpoint/getStudentInfoResponse" message="tns:getStudentInfoResponse"></output>
<fault message="tns:NoStudentFoundEsception" name="NoStudentFoundEsception" wsam:Action="http://endpoint.soap.testio.spring/StudentEndpoint/getStudentInfo/Fault/NoStudentFoundEsception"></fault>
</operation>
<operation name="login">
<input wsam:Action="http://endpoint.soap.testio.spring/StudentEndpoint/loginRequest" message="tns:login"></input>
<output wsam:Action="http://endpoint.soap.testio.spring/StudentEndpoint/loginResponse" message="tns:loginResponse"></output>
<fault message="tns:NoStudentFoundEsception" name="NoStudentFoundEsception" wsam:Action="http://endpoint.soap.testio.spring/StudentEndpoint/login/Fault/NoStudentFoundEsception"></fault>
</operation>
</portType>
<binding name="StudentEndpointImplPortBinding" type="tns:StudentEndpoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="register">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://endpoint.soap.testio.spring/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://endpoint.soap.testio.spring/"></soap:body>
</output>
<fault name="RegisterException">
<soap:fault name="RegisterException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getStudentInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://endpoint.soap.testio.spring/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://endpoint.soap.testio.spring/"></soap:body>
</output>
<fault name="NoStudentFoundEsception">
<soap:fault name="NoStudentFoundEsception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="login">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://endpoint.soap.testio.spring/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://endpoint.soap.testio.spring/"></soap:body>
</output>
<fault name="NoStudentFoundEsception">
<soap:fault name="NoStudentFoundEsception" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="StudentEndpointImplService">
<port name="StudentEndpointImplPort" binding="tns:StudentEndpointImplPortBinding">
<soap:address location="http://192.168.1.129:9999/soap/student"></soap:address>
</port>
</service>
</definitions>